<th scope="row">
  <span><%= invoice.invoice_code %></span>
</th>
<th>
  <span><%= invoice.amount %></span>
</th>
<th>
  <span><%= invoice.sell_price %></span>
</th>
<th>
  <span><%= l(invoice.due_date) %></span>
</th>
<th>
  <span><%= l(invoice.created_at) %></span>
</th>
<th>
  <span><%= link_to "Delete", invoice, data: { "turbo-method": :delete }, class: "btn btn-warning" %></span>
</th>