<div id="<%= dom_id invoice %>">
  <p>
    <strong>User:</strong>
    <%= invoice.user %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= invoice.sell_price %>
  </p>

</div>
