<p style="color: green"><%= notice %></p>

<br>
<%= render @attachment %>
<br>
<div>
  <%= link_to "Back to attachments", attachments_path, class: "btn btn-info" %> |
  <%= link_to "Edit this attachment", edit_attachment_path(@attachment), class: "btn btn-success" %> |
  <%= link_to "Delete", @attachment, data: { "turbo-method": :delete }, class: "btn btn-warning" %> |
</div>
<br>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAttachmentInvoices" aria-expanded="false" aria-controls="collapseAttachmentInvoices">
  (Open/Close) Invoices
</button>
<br>

<div class="collapse show" id="collapseAttachmentInvoices">
  <div class="card card-body">
    <%= render partial: 'invoices/table_invoices' %>
  </div>
</div>


